h1{
    color : darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-top: 2%;
    margin-left: 2%;
    display: inline-block;
    
}

p {
    text-align: justify;
}

body{
    margin: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 1.6;
}

h2 {
    color: skyblue;
}

.block {
    display: inline-block ;
}
#first_cont {
    display: flex;
    margin-left: 20%;
}
.container {
    border: 3px solid darkblue;
    padding: 20px 40px 40px;
    margin: 20px 20px 20px 20px;
    max-width: 90%;
    display: inline-block;
  }
.container__image {
    border: 1px solid black;
    margin-left: 20px;
    display: inline-block;
}

.line {
    stroke-width: 2;
    fill: none;
  }
  
.axis path {
    stroke: black;
}
